section#section-home {
  color: $white;
  height: 100vh;
  @include gradient(to left, #434343, #000000);
  h1 {
    color: $white;
    font-size: 4em;
    font-family: "Quicksand", sans-serif;
    margin-left: 70px;
  }
  .btn-cta {
    margin-left: 70px;
  }

  .offset-border-wrapper {
    margin: 25px;

    img {
      max-width: 100%;
      @include material-shadow(4);
    }

    .offset-border {
      border: 1px solid;
      margin: -25px 25px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
