section#section-home {
  color: $white;
  height: 100vh;
  @include gradient(to left, #434343, #000000);
  
  $padding-size: 20px;
  padding-left: $padding-size;
  img {
    margin-left: -$padding-size;
  }

  h1 {
    color: $white;
    font-family: "Quicksand", sans-serif;
  }

  .offset-border-wrapper {
    margin: 25px;

    img {
      max-width: 100%;
      @include material-shadow(4);
    }

    .offset-border {
      border: 1px solid;
      margin: -25px 25px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  @media (min-width: 992px) {
    $padding-size: 70px;
    padding-left: $padding-size;
    img {
      margin-left: -$padding-size;
    }
    h1{
      font-size: 4em;
    }
  }
}
