
section#section-frontend {
    svg, img {
      background: white;
      margin: 1em;
      width: 25%;
      height: 137px;
      padding: 1em;
      @include material-shadow(3);
      border-right: 10px solid #e6e5e588;
      border-bottom: 5px solid #b5b5b5;
      vertical-align: unset
    }
    .isometric{
      margin-top: -68px;
      margin-bottom: -100px;
    }
  }