.btn-cta{
    border-radius: 2em;
    padding: .5em 2em;
    font-size: 1.5em;
    border: none;
    color: $white;
    @include gradient(to right, #f5af19, #f12711);

    @include material-shadow(4);
    &:hover{
        @include material-shadow(2);
    }
}