<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="strict-origin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hadashi's portfolio</title>

  <link rel="apple-touch-icon" sizes="180x180" href="http://localhost:3000/img/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://localhost:3000/img/fav//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://localhost:3000/img/fav//favicon-16x16.png">
  <link rel="manifest" href="http://localhost:3000/img/fav//site.webmanifest">
  <link rel="mask-icon" href="http://localhost:3000/img/fav//safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Cinzel|Quicksand:300|Reenie+Beanie&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://localhost:3000/lib/default-css.css">
  <link rel="stylesheet" href="http://localhost:3000/css/styles.css">

  {% feed_meta %}
  {% seo %}
</head>

<body>

  <section id="section-home">
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <img class="img-fluid" src="http://localhost:3000/img/logos/logo-white.png" alt="">
          <h1>
            <span class="crossed-out"><span class="handwritten">Unicorn</span>Full-Stack</span> Designer & illustrator</h1>
            <button class="btn-cta">Let's talk</button>
        </div>
         
      </div>
    </div>
  </section>

  <section id="section-ux">
    <div class="container">
      <div class="row">
       
        <div class="col-sm-6 order-sm-2">
          <div class="image-wireframe"></div>
        </div>
        <div class="col-sm-6 order-sm-1">
            <div class="info">
              <h1>UX Design</h1>
              <p>Wireframes</p>
              <p>Usability testing</p>
              <p>Client and competition analysis</p>
              <p>Interactive mockups</p>
              <button class="btn-handdrawn btn-examples">See examples</button>
          </div>
      </div>
    </div>
  </section>

  <section id="section-design">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="img"></div>
        </div>
        
        <div class="col-sm-6">
          <h1>UI Design</h1>
            <p>Visual and graphic design</p>
            <p>Branding</p>
            <p>Typography</p>
            <p>Websites, mobile and desktop applications, advertising materials</p>
            <button class="btn-cta btn-examples">See examples</button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="section-frontend">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="info">
            <h1>Front-End Development</h1>
            <p>I can code what I design - Simple as that!</p>
            <p>Websites</p>
            <p>Desktop applications</p>
            <p>Mobile apps</p>
            <button class="btn-cta btn-examples">See examples</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="isometric">
            <i class="fab fa-css3"></i>
            <i class="fab fa-html5"></i>
            <i class="fab fa-js"></i>  
            <i class="fab fa-sass"></i>
            <i class="fab fa-bootstrap"></i> 
            <img src="http://localhost:3000/img/icons/jQuery.svg" alt="">
            <img src="http://localhost:3000/img/icons/xamarin.svg" alt=""> 
            <i class="fab fa-wordpress"></i> 
            <img src="http://localhost:3000/img/icons/jekyll.svg" alt=""> 
            <i class="fab fa-gulp"></i>
            <i class="fab fa-npm"></i> 
            <img src="http://localhost:3000/img/icons/git.svg" alt=""> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <p>Created by <a href="#">me</a>!</p>
      </div>
    </div>
  </footer>

</body>
<script src="http://localhost:3000/lib/default-js.js"></script>
<script src="http://localhost:3000/js/portfolio.js"></script>

</html>